In [23]:
import pandas as pd
import numpy as np
from tmdbv3api import Movie, TMDb
import json
import requests
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import ssl
import time

In [28]:
url = "https://image.tmdb.org/t/p/original"
tmdb = TMDb()
tmdb.api_key = 'deb477a3c3471f6e4e39aff4352f0806'
tmdb_movie = Movie()
def scrape(x):
    try:
        result = tmdb_movie.search(x)
        m_id = result[0].id
        response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(m_id, tmdb.api_key))
        data_json = response.json()
        response.close()
        return url + str(data_json['poster_path'])
    except:
        return np.NaN

In [29]:
df = pd.read_csv('recommend.csv')
df

,movie_title,recommend
0,avatar,"['aliens', 'star trek into darkness', 'wing co..."
1,pirates of the caribbean: at world's end,"[""pirates of the caribbean: dead man's chest"",..."
2,spectre,"['skyfall', 'quantum of solace', 'iboy', 'die ..."
3,the dark knight rises,"['the dark knight', 'batman begins', 'inceptio..."
4,john carter,"['spy kids: all the time in the world in 4d', ..."
...,...,...
5830,little women,"['howards end', 'the beguiled', 'oscar and luc..."
5831,1917,"['joyeux noel', 'shadow conspiracy', 'green zo..."
5832,just mercy,"['the glass castle', 'on the basis of sex', ""w..."
5833,clemency,"['take the lead', 'burning sands', 'love & bas..."
5834,apparition,"['the apparition', '2:13', 'what lies beneath'..."

In [30]:
df = df.drop('recommend', axis = 1)
df

                                   movie_title
0                                       avatar
1     pirates of the caribbean: at world's end
2                                      spectre
3                        the dark knight rises
4                                  john carter
...                                        ...
5830                              little women
5831                                      1917
5832                                just mercy
5833                                  clemency
5834                                apparition

[5835 rows x 1 columns]

In [31]:
df['poster_path'] = df['movie_title'].map(lambda x: scrape(x))
df

,movie_title,poster_path
0,avatar,https://image.tmdb.org/t/p/original/6EiRUJpuoe...
1,pirates of the caribbean: at world's end,https://image.tmdb.org/t/p/original/cVFKkJ8Kcu...
2,spectre,https://image.tmdb.org/t/p/original/672kUEMtTH...
3,the dark knight rises,https://image.tmdb.org/t/p/original/vzvKcPQ4o7...
4,john carter,https://image.tmdb.org/t/p/original/7GSSyUUgUE...
...,...,...
5830,little women,https://image.tmdb.org/t/p/original/yn5ihODtZ7...
5831,1917,https://image.tmdb.org/t/p/original/iZf0KyrE25...
5832,just mercy,https://image.tmdb.org/t/p/original/4YJNp1cquI...
5833,clemency,https://image.tmdb.org/t/p/original/c03mA6GYRq...
5834,apparition,https://image.tmdb.org/t/p/original/jO45nIEQMW...

In [37]:
df.to_csv('poster_path.csv')

In [35]:
df[df['poster_path'].isna()]['movie_title']

788           xi you ji zhi: sun wukong san da baigu jing
1232                                           the shadow
1240                             the island of dr. moreau
1500                                          nacho libre
1830                               no country for old men
2082                                                molly
2164                                         the covenant
2264              les couloirs du temps: les visiteurs ii
2414                            saw 3d: the final chapter
2554                           the last house on the left
2571                                    ramona and beezus
2724                              the caveman's valentine
2765            del 1 - män som hatar kvinnor
2806                                              machete
2947                                     army of darkness
2974                                            housefull
3128                                               eulogy
3313                                         an education
3340                                            the piano
3402    alpha and omega 4: the legend of the saw tooth...
3567                                     the elephant man
3580                                    our idiot brother
3853                in the name of the king: the last job
3925                  willy wonka & the chocolate factory
4000                                     silver medallist
4027                            the other end of the line
4111                                           house of d
4117                              24 7: twenty four seven
4188              living dark: the story of ted the caver
4328                                                rocky
4480                                               b-girl
4546                                      insomnia manica
4547                         the outrageous sophie tucker
4553                                   the king of najayo
4679                                             solitude
4792                                      the mongol king
4840                                           fist fight
4863                                                logan
5042             captain underpants: the first epic movie
5094                          baahubali 2: the conclusion
5145                     maigrets night at the crossroads
5209                                 the putin interviews
5218                                            orbiter 9
5316                                    american violence
5336                                           freak show
5759                               running with the devil
Name: movie_title, dtype: object

In [83]:
df = pd.read_csv('poster_path.csv', index_col = 0)
df

,movie_title,poster_path
0,avatar,https://image.tmdb.org/t/p/original/6EiRUJpuoe...
1,pirates of the caribbean: at world's end,https://image.tmdb.org/t/p/original/cVFKkJ8Kcu...
2,spectre,https://image.tmdb.org/t/p/original/672kUEMtTH...
3,the dark knight rises,https://image.tmdb.org/t/p/original/vzvKcPQ4o7...
4,john carter,https://image.tmdb.org/t/p/original/7GSSyUUgUE...
...,...,...
5830,little women,https://image.tmdb.org/t/p/original/yn5ihODtZ7...
5831,1917,https://image.tmdb.org/t/p/original/iZf0KyrE25...
5832,just mercy,https://image.tmdb.org/t/p/original/4YJNp1cquI...
5833,clemency,https://image.tmdb.org/t/p/original/c03mA6GYRq...
5834,apparition,https://image.tmdb.org/t/p/original/jO45nIEQMW...

In [86]:
df.fillna('https://image.tmdb.org/t/p/originalNone', inplace=True)
df.isna().sum()

movie_title    0
poster_path    0
dtype: int64

In [88]:
df.to_csv('poster_path.csv', index = False)