In [7]:
import pandas as pd
import numpy as np
from tmdbv3api import Movie, TMDb
import json
import requests
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import ssl

In [2]:
df = pd.read_csv('recommend.csv')
df

,movie_title,recommend
0,avatar,"['aliens', 'star trek into darkness', 'wing co..."
1,pirates of the caribbean: at world's end,"[""pirates of the caribbean: dead man's chest"",..."
2,spectre,"['skyfall', 'quantum of solace', 'iboy', 'die ..."
3,the dark knight rises,"['the dark knight', 'batman begins', 'inceptio..."
4,john carter,"['spy kids: all the time in the world in 4d', ..."
...,...,...
5830,little women,"['howards end', 'the beguiled', 'oscar and luc..."
5831,1917,"['joyeux noel', 'shadow conspiracy', 'green zo..."
5832,just mercy,"['the glass castle', 'on the basis of sex', ""w..."
5833,clemency,"['take the lead', 'burning sands', 'love & bas..."
5834,apparition,"['the apparition', '2:13', 'what lies beneath'..."

In [8]:
tmdb = TMDb()
tmdb.api_key = 'deb477a3c3471f6e4e39aff4352f0806'
tmdb_movie = Movie()

In [15]:
url = "https://image.tmdb.org/t/p/original"
def scrape(x):
    li = []
    result = tmdb_movie.search(x)
    m_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(m_id, tmdb.api_key))
    data_json = response.json()
    print(url + str(data_json['poster_path']))

In [16]:
scrape('iron man')

https://image.tmdb.org/t/p/original/78lPtwv72eTNqFW9COBYI0dWDJa.jpg